In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data= pd.read_csv("AQI_India.csv")

data

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Bihar,Katihar,"Mirchaibari, Katihar - BSPCB",04-11-2025 11:00:00,25.560083,87.553265,PM2.5,27.0,100.0,62.0
1,India,Bihar,Katihar,"Mirchaibari, Katihar - BSPCB",04-11-2025 11:00:00,25.560083,87.553265,PM10,25.0,94.0,58.0
2,India,Bihar,Manguraha,"Forest Rest House, Manguraha - BSPCB",04-11-2025 11:00:00,27.308328,84.531742,PM10,103.0,193.0,124.0
3,India,Bihar,Manguraha,"Forest Rest House, Manguraha - BSPCB",04-11-2025 11:00:00,27.308328,84.531742,SO2,16.0,18.0,17.0
4,India,Bihar,Motihari,"Gandak Colony, Motihari - BSPCB",04-11-2025 11:00:00,26.630860,84.900510,PM2.5,20.0,24.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...
3352,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",04-11-2025 11:00:00,22.627847,88.380669,CO,28.0,44.0,36.0
3353,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",04-11-2025 11:00:00,22.544808,88.340369,PM10,83.0,185.0,138.0
3354,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",04-11-2025 11:00:00,22.544808,88.340369,SO2,2.0,12.0,6.0
3355,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",04-11-2025 11:00:00,26.687923,88.415250,PM2.5,34.0,57.0,42.0
3356,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",04-11-2025 11:00:00,26.687923,88.415250,PM10,42.0,80.0,58.0

In [5]:
data.shape

(3357, 11)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3357 entries, 0 to 3356
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        3357 non-null   object
 1   state          3357 non-null   object
 2   city           3357 non-null   object
 3   station        3357 non-null   object
 4   last_update    3357 non-null   object
 5   latitude       3357 non-null   float64
 6   longitude      3357 non-null   float64
 7   pollutant_id   3357 non-null   object
 8   pollutant_min  3179 non-null   float64
 9   pollutant_max  3179 non-null   float64
 10  pollutant_avg  3179 non-null   float64
dtypes: float64(5), object(6)
memory usage: 288.6+ KB

In [7]:
data.isnull().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    178
pollutant_max    178
pollutant_avg    178
dtype: int64

In [8]:
data.dropna(inplace=True)

In [17]:
data.describe()

          latitude    longitude  pollutant_min  pollutant_max  pollutant_avg
count  3179.000000  3179.000000    3179.000000    3179.000000    3179.000000
mean     22.753183    78.490356      27.713117      80.952815      47.731991
std       5.550923     4.671140      42.883557     100.729115      66.496799
min       8.514909    70.909168       1.000000       1.000000       1.000000
25%      19.065931    75.638133       5.000000      16.000000      10.000000
50%      23.508764    77.315741      14.000000      44.000000      24.000000
75%      27.272719    80.260625      31.000000     102.500000      55.000000
max      31.620000    94.636574     500.000000     500.000000     500.000000

In [ ]:
data=data[data['pollutant_min']<400]

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
66,India,Delhi,Delhi,"Aya Nagar, Delhi - IMD",04-11-2025 11:00:00,28.470691,77.109936,PM10,123.0,425.0,225.0
103,India,Delhi,Delhi,"Dwarka-Sector 8, Delhi - DPCC",04-11-2025 11:00:00,28.571027,77.071901,PM10,141.0,445.0,279.0
111,India,Delhi,Delhi,"Wazirpur, Delhi - DPCC",04-11-2025 11:00:00,28.699793,77.165453,PM10,292.0,500.0,409.0
126,India,Delhi,Delhi,"Narela, Delhi - DPCC",04-11-2025 11:00:00,28.822836,77.101981,PM2.5,316.0,485.0,400.0
129,India,Delhi,Delhi,"Punjabi Bagh, Delhi - DPCC",04-11-2025 11:00:00,28.674045,77.131023,PM2.5,312.0,422.0,362.0
...,...,...,...,...,...,...,...,...,...,...,...
2809,India,Delhi,Delhi,"Dr. Karni Singh Shooting Range, Delhi - DPCC",04-11-2025 11:00:00,28.498571,77.264840,PM10,127.0,410.0,203.0
2814,India,Delhi,Delhi,"Mandir Marg, Delhi - DPCC",04-11-2025 11:00:00,28.636429,77.201067,PM10,92.0,414.0,190.0
2816,India,Delhi,Delhi,"Mundka, Delhi - DPCC",04-11-2025 11:00:00,28.684678,77.076574,PM10,155.0,500.0,359.0
2879,India,Haryana,Sonipat,"Murthal, Sonipat - HSPCB",04-11-2025 11:00:00,29.027200,77.062100,PM2.5,138.0,403.0,266.0
3328,India,Uttar_Pradesh,Meerut,"Jai Bhim Nagar, Meerut - UPPCB",04-11-2025 11:00:00,28.953588,77.762294,PM10,158.0,410.0,280.0

In [32]:
data.duplicated().sum()

np.int64(0)